.add-notification-card .add-notification-create-button > .ms-TooltipHost {
  display: block;
}

.add-notification-loading-modal-container {
  display: flex;
  /* width: 288px; */
}

.add-notification-loading-modal-container .add-notification-loading-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-notification-loading-modal-container .results-container {
  height: 100%;
  padding: 1em 2em;
}
